<div class="ui middle aligned selection divided list">
  <bm-book-list-item
    class="item"
    *ngFor="let b of books"
    [book]="b"
    [routerLink]="b.isbn"
  ></bm-book-list-item>
</div>
<div *ngIf="!books" class="ui active dimmer">
  <div class="ui large text loader">Daten werden geladen</div>

  <p *ngIf="books && !books.length">
    Es wurde noch keine Bücher eingetragen.
  </p>
</div>


<div *ngIf="state" class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
</div>

